*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/zencoder/chats/6d89f5b1-0fe5-4f26-86bc-bebfca7c4179.json
/.idea/AugmentWebviewStateStore.xml
/.idea/ChatHistory_schema_v3.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilotDiffState.xml
